 /* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');  */
 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gruppo&family=Homemade+Apple&display=swap');


@media screen and (max-width: 1600px){
body {
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    /* margin: 0 auto; */
    width: 100%;
    height: 100%;
    background-color: #f4f4f9;
    border: 1px solid none;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
   
}
    
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Homemade Apple';
    font-size: 72px;
    color: #00296b;
    letter-spacing: 2px;
}

  div {
    margin-left: 20px;
    margin-right: 20px;
   margin-top: 50px;
    margin-bottom: 50px;
  }



#get-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    

 }
    
 input{
    font-size: 36px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-family: 'Amatic SC'
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 24px;
    background-color: #f4f4f9;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Homemade Apple';
    color:#00296b;

    
    
}
   

h2 {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: 56px;
    letter-spacing: 5px;
    color: #00296b;
    text-shadow: 2px 2px 4px (0, 0, 0, 0.5);
}

#cocktail-container {
    
    text-align: center; 
}

img {
    height: 250px;
    width: 250px; 
    border-radius: 50%;
    
    }
    
    
    h3 {
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        font-family:'Homemade Apple'; 
        letter-spacing: 4px;
        
        }

    ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column; 
    letter-spacing: 1px;
    
    }

p {
    
    letter-spacing: 1px;
}



}
/* responsive design for tablets */
@media screen and (max-width: 615px){
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-family: 'Homemade Apple';
        font-size: 34px;
        color: #00296b;
        letter-spacing: 2px;

    }
}
/* css for mobile screens */

@media screen and (max-width: 400px){

    body{
        background-color: #00296b;
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-family: 'Homemade Apple';
        font-size: 34px;
        color: #f4f4f9;
        letter-spacing: 2px;
    }

    button {
        background-color: #00296b;
        font-size: 24px;
        color:#f4f4f9;
        font-family: 'Homemade Apple';
        font-size: 12px;
    }

    input{
        font-size: 24px;
        text-align: center;
        border: none;
        background-color: transparent;
        font-family: 'Amatic SC';
        color: #f4f4f9;
    }

    h2 {
        display: flex;
        justify-content: center;
        margin-top: -40px;
        text-align: center;
        font-family: "Amatic SC", sans-serif;
        font-size: 30px;
        letter-spacing: 5px;
        color: #f4f4f9;
        text-shadow: 2px 2px 4px (0, 0, 0, 0.5);
    }

    h3 {
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        font-family:'Homemade Apple'; 
        color: #f4f4f9;
        letter-spacing: 4px;
        
        }

        #cocktail-container {
            margin-top: -25px;
            text-align: center; 
        }


    img {
        margin-top: -10px;
        height: 250px;
        width: 250px; 
        border-radius: 50%;
        
        }

    ul {
            list-style-type: none;
            display: flex;
            color: #f4f4f9; 
            align-items: center;
            flex-direction: column; 
            letter-spacing: 1px;
            }    

     p {
            color: #f4f4f9;
            letter-spacing: 1px;
            }

            div {
                
                padding-bottom: 20px;
            }
}