#cocktail-container{
    width: 300px;
    background-color: #ece4db;
    border: 1px solid none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
title{
    text-align: center;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;

}